<%- include('partials/header.ejs') %>

<body>
<main>
<div class="container content">
  <h1 class="text-center my-4">My Blog Posts</h1>
  <div class="row">
    <% posts.forEach(post => { %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.content.substring(0, 100) %>...</p>
            
            <div class="d-inline-flex justify-content-center align-items-end">
              <a href="/edit/<%= post.id %>" class="mx-1 btn btn-sm btn-outline-primary">Edit</a>
              <form action="/delete/<%= post.id %>" method="POST" class="d-inline">
                <button type="submit" class="mx-1 btn btn-sm btn-outline-danger">Delete</button>
              </form>
            </div>
            <!-- <div> -->
            <small class="text-muted mx-4">Posted <%= post.daysAgo %> ago</small>
          <!-- </div> -->
          </div>
        </div>
      </div>
    <% }) %>
  </div>
  <div class="text-center my-4">
    <a href="/new" class="btn btn-primary">Create New Post</a>
  </div>
</div>
</main>
</body>
<%- include('partials/footer.ejs') %>
